@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
  box-sizing: border-box;
  text-decoration: none;
  background-color: #1c1c1c;
  color: white;
  font-family: 'JetBrains Mono', sans-serif;
}